@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
.customButton {
  font-family: 'Inter', sans-serif;
  background-color: #517ea6; 
  border-color: #517ea6; 
  color: white; 
}

.customButton:hover {
  background-color: #3a5f7e; 
  border-color: #3a5f7e; 
}