.formContainer {
  width: 100%;
  max-width: 420px;
  padding: 2.5rem 3rem; 
  border-radius: 16px;
  background:  #fcfdfd;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.12);
}

.header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.logo {
  height: 80px; 
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease;
}

.titleContainer {
  margin-bottom: 0.75rem;
  text-align: center; 
}

.title {
  font-size: 1.8rem;
  color: #2d455f;
  margin: 0 auto; 
  font-weight: 700;
  background: linear-gradient(90deg, #517ea6, #3e648b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: fit-content; 
}

.subtitle {
  color: #64748b;
  margin: 0 auto 2rem; 
  text-align: center;
  font-size: 1rem;
  width: 100%;
  max-width: 280px; 
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  padding: 0.9rem 1.2rem;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  font-size: 1rem;
  transition: all 0.3s ease;
  background-color: #f8fafc;
  width: 100%; 
}

.passwordWrapper {
  position: relative;
  width: 100%; 
}

.passwordInput {
  padding-right: 40px; 
}

.toggleButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: #64748b;
  padding: 8px;
}

.rememberMe {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: -0.5rem;
}

.rememberMe input {
  accent-color: #517ea6;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.rememberMe label {
  color: #2d455f;
  font-size: 0.9rem;
  cursor: pointer;
}

.submitButton {
  padding: 0.9rem;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #517ea6, #3e648b);
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0.5rem;
  box-shadow: 0 4px 6px rgba(81, 126, 166, 0.1);
}

.submitButton:hover {
  background: linear-gradient(135deg, #3e648b, #335171);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(81, 126, 166, 0.15);
}

.submitButton:disabled {
  background: #cbd5e1;
  transform: none;
  cursor: not-allowed;
}

.errorInput {
  border-color: #ef4444 !important;
}

.errorMessage {
  color: #ef4444;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.formError {
  color: #ef4444;
  font-size: 0.9rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: rgba(239, 68, 68, 0.1);
}


.formGroup.floating {
  position: relative;
  padding-top: 15px;
}

.formGroup.floating .label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0);
  font-size: 0.8rem;
  opacity: 0;
  transition: all 0.2s ease;
}

.formGroup.floating input:not(:placeholder-shown) + .label,
.formGroup.floating input:focus + .label {
  transform: translateY(-20px);
  opacity: 1;
}