.container {
  padding: 2rem 1rem;
  background-color: #f9fafb;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  ;
  margin-bottom: 1.5rem;
}

.title {
  color: #2d455f;
  font-weight: 500;
  font-size: clamp(2rem, 2vw, 2rem);
  text-align: left;
}

.topActions {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.createButton {
  background: linear-gradient(90deg, #517ea6, #335171);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.2s;
  box-shadow: 0 2px 5px rgba(81, 126, 166, 0.3);
}

.buttonIcon {
  font-size: 1rem;
}

.tabs {
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid #e5e7eb;
}

.tabButton {
  padding: 0.75rem 1.5rem;
  background: none;
  gap: 1rem; 
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #6b7280;
  position: relative;
  transition: all 0.3s ease;
}

.tabButton:hover {
  color: #2d455f;
}

.tabButton.active {
  color: #517ea6;
  font-weight: 600;
}

.tabButton.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #517ea6;
}

.tabIcon {
  font-size: 1.1rem;
  color: #517ea6;
  margin-right: .5rem;
}

.tabLabel {
  font-size: 1rem;
}

.countBadge {
  background-color: #517ea6;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 600;
  margin-left: 0.5rem;
}
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  width: 95%;
}

.actions {
  margin-left: auto; /* This pushes it to the right */
  display: flex;
  align-items: center;
}
.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.loadingSpinner {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 3px solid #517ea6;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.content {
  width: 100%;
}